---
---

@import '{{ site.theme }}';

.header-logo {
  width: 80px;
  height: 80px;
}

.header-bar {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  background-color: #c9ebf7;
  border-bottom: 2px solid #001b33;
}
